In [1]:
import pandas as pd
import numpy as np

In [2]:
data_path = "data/on1000"
train_df = pd.read_csv(data_path + "/all_train.csv")
test_df = pd.read_csv(data_path + "/test_labels.csv")

In [3]:
def remove_small_sizes(df):
    to_remove = []
    for i in range(len(df)):
        x_size = abs(df['xmax'][i] - df['xmin'][i])
        y_size = abs(df['ymax'][i] - df['ymin'][i])
        if x_size * y_size < 30 * 60:
            to_remove.append(i)
    return df.drop(to_remove, axis = 0)

In [4]:
new_train_df = remove_small_sizes(train_df)
new_train_df = new_train_df.drop("Unnamed: 0", axis = 1)
new_train_df.head()

,filename,width,height,class,xmin,ymin,xmax,ymax
0,E:\DataSets\carPlatesDataset\raw\IMG_20220411_...,4608,2112,plate,2640,857,2896,1009
1,E:\DataSets\carPlatesDataset\raw\IMG_20220411_...,4608,2112,plate,4315,578,4412,636
2,E:\DataSets\carPlatesDataset\raw\IMG_20220411_...,4608,2112,plate,1591,381,1660,424
7,E:\DataSets\carPlatesDataset\raw\IMG_20220410_...,4608,2112,plate,1631,462,1922,618
8,E:\DataSets\carPlatesDataset\raw\IMG_20220410_...,4608,2112,plate,852,332,1022,428

In [5]:
new_test_df = remove_small_sizes(test_df)
new_test_df = new_test_df.drop("Unnamed: 0", axis = 1)
new_test_df.head()

,filename,width,height,class,xmin,ymin,xmax,ymax
0,E:\DataSets\carPlatesDataset\raw\IMG_20220412_...,4608,2112,plate,872,596,948,637
1,E:\DataSets\carPlatesDataset\raw\IMG_20220412_...,4608,2112,plate,1580,649,1672,706
2,E:\DataSets\carPlatesDataset\raw\IMG_20220412_...,4608,2112,plate,2219,949,2397,1040
3,E:\DataSets\carPlatesDataset\raw\IMG_20220412_...,4608,2112,plate,1817,736,2014,854
4,E:\DataSets\carPlatesDataset\raw\IMG_20220412_...,4608,2112,plate,3203,494,3332,570

In [6]:
new_train_df.to_csv(data_path + "/all_train_mod.csv")
new_test_df.to_csv(data_path + "/test_labels_mod.csv" )

In [7]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2944 entries, 0 to 2943
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  2944 non-null   int64
 1   filename    2944 non-null   object
 2   width       2944 non-null   int64
 3   height      2944 non-null   int64
 4   class       2944 non-null   object
 5   xmin        2944 non-null   int64
 6   ymin        2944 non-null   int64
 7   xmax        2944 non-null   int64
 8   ymax        2944 non-null   int64
dtypes: int64(7), object(2)
memory usage: 207.1+ KB

In [8]:
new_train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2186 entries, 0 to 2942
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   filename  2186 non-null   object
 1   width     2186 non-null   int64
 2   height    2186 non-null   int64
 3   class     2186 non-null   object
 4   xmin      2186 non-null   int64
 5   ymin      2186 non-null   int64
 6   xmax      2186 non-null   int64
 7   ymax      2186 non-null   int64
dtypes: int64(6), object(2)
memory usage: 153.7+ KB

In [9]:
new_test_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 117 entries, 0 to 160
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   filename  117 non-null    object
 1   width     117 non-null    int64
 2   height    117 non-null    int64
 3   class     117 non-null    object
 4   xmin      117 non-null    int64
 5   ymin      117 non-null    int64
 6   xmax      117 non-null    int64
 7   ymax      117 non-null    int64
dtypes: int64(6), object(2)
memory usage: 8.2+ KB